/* CSS Document */
*{
	margin:0px;
	padding:0px;}
.wrapper{
	width:100%;
	height:auto;
	margin:0 auto;}
.header{
	height:50px;
	width:100%;
	margin:auto;
	color:#403f3d;}
.headerone{
	height:50px;
	width:220px;
	float:right;}
.header ul li{
	list-style-type:none;
	float:left;
	margin-left:20px;
	margin-top:15px;
	font-size:14px;}
.header ul li a:link{
	color:#403f3d;
	text-decoration:none;}
.header ul li a:visited{
	color:#403f3d;
	text-decoration:none;}
.header ul li span{
	color:#fd6852;}
.text{
	width:620px;
	height:auto;
	margin:0 auto;}
.texttu{
	height:70px;
	width:264px;
	margin:0 auto;
	margin-top:62px;}
.nav{
	height:46px;
	width:620px;
	margin-top:36px;}
.navone{
	height:44px;
	width:542px;
	float:left;
	border:1px #c0c0c0 solid;}
.navtwo{
	height:46px;
	width:76px;
	float:left;
	background-color:#fd6852;
	background-image:url(../images/fangdajing.jpg);
	background-repeat:no-repeat;
	background-position:24px 13px;}
.footer{
	height:30px;
	width:270px;
	margin-top:270px;
	margin-left:180px;
	line-height:30px;
	color:#666867;}
.footer p a{
	font-size:12px;
	margin-right:5px;}
.footer p a:link{
	color:#666867;
	text-decoration:none;}
.footer p a:visited{
	color:#666867;
	text-decoration:none;}
.footer p a:hover{
	color:#666867;
	text-decoration:none;}
.footerone{
	height:30px;
	width:390px;
	margin:0 auto;
	line-height:30px;}
.footerone p{
	font-size:12px;
	color:#666867;}